name: 'publish'

on:
  push

# This workflow will trigger on each push to the `release` branch to create or update a GitHub release, build your app, and upload the artifacts to the release.

jobs:
  publish-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: 'windows-latest'
            args: ''
          - platform: 'ubuntu-22.04'
            args: ''

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable # Set this to dtolnay/rust-toolchain@nightly

      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: './src-tauri -> target'

      - name: install frontend dependencies
        run: npm install # change this to npm, pnpm or bun depending on which one you use.

      - name: Read changelog
        if: matrix.platform == 'windows-latest'
        run: |
          @(
          'RELEASE_BODY<<EOF'
          '# Changelog'
          (git log -1 --pretty=%B | Select-Object -Skip 1)
          ''
          (Get-Content .github/workflows/RELEASE.md)
          'EOF'
          ) | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-22.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf libpcap-dev
      - name: build and release tauri-apps
        uses: tauri-apps/tauri-action@v0
        id: tauri
        env:
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: ${{ github.ref_name == 'release' && 'app-v__VERSION__' || '' }} # the action automatically replaces \_\_VERSION\_\_ with the app version.
          includeDebug: ${{ github.ref_name != 'release' }}
          includeUpdaterJson: true
          updaterJsonPreferNsis: false
          releaseName: ${{ github.ref_name == 'release' && 'v__VERSION__' || '' }}
          releaseBody: ${{ env.RELEASE_BODY }}
          releaseDraft: false
          prerelease: false
          args: ${{ matrix.args }}

      - name: Upload Release Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: bpsr-logs-production-${{ runner.os }}-v${{ steps.tauri.outputs.appVersion }}
          path: src-tauri/target/release/bundle/

      - name: Upload Debug Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: bpsr-logs-debug-v${{ steps.tauri.outputs.appVersion }}
          path: src-tauri/target/debug/bundle/
